@model BaseInsertViewModel<Autor>

<div class="card border-info">
    <div class="card-header border-dark">Список авторов</div>
    <ul class="list-group list-group-flush">
        @foreach(var item in Model.ListItems)
        {
            <li class="list-group-item">
                <div class="d-flex">
                    <div class="me-auto">@item.FullName</div>
                    <div class="me-2">@item.BirthDate.ToLongDateString()</div>
                    <form method="get" asp-action="Autor" asp-controller="Update" asp-route-id=@item.Id>
                        <button class="btn btn-outline-success" type="submit">Редактировать</button>
                    </form>
                    <form method="post" asp-action="Autor" asp-controller="Delete" asp-route-id=@item.Id>
                        <button class="btn btn-outline-danger ms-1" type="submit">Удалить</button>
                    </form>
                </div>
            </li>
        }
    </ul>
    <page-link page-model="Model.Page" page-action="AutorPage"></page-link>
</div>