@model BaseInsertViewModel<Autor>

<div id="panelPage">
    @await Html.PartialAsync("AutorPage")
</div>

@section Scripts{
    <script type="text/javascript">
        ChangePage('@Url.Action("AutorPage")');
    </script>
}