@model BaseInsertViewModel<Genre>

<div id="panelPage">
    @await Html.PartialAsync("GenrePage")
</div>

@section Scripts{
    <script type="text/javascript">
        ChangePage('@Url.Action("GenrePage")');
    </script>
}