@model BaseInsertViewModel<PublishingHouse>

<div id="panelPage">
    @await Html.PartialAsync("PublishingHousePage")
</div>

@section Scripts{
    <script type="text/javascript">
        ChangePage('@Url.Action("PublishingHousePage")');
    </script>
}