@model BaseInsertViewModel<Autor>

<form method="post" asp-action="Autor" asp-controller="Update" class="needs-validation mb-3">
    <div asp-validation-summary=All></div>
    <input type="text" class="form-control has-validation" asp-for="Item.Id" value="@Model?.Item.Id" hidden>
    <div class="form-floating mb-3">
        <input type="text" class="form-control has-validation" asp-for="Item.LastName" placeholder="Введите фамилию" value="@Model?.Item.LastName">
        <label asp-for=Item.LastName></label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control has-validation" asp-for="Item.FirstName" placeholder="Введите имя" value="@Model?.Item.FirstName">
        <label for="FirstName" asp-for=Item.FirstName></label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control has-validation" asp-for="Item.Patronymic" placeholder="Введите отчество" value="@Model?.Item.Patronymic">
        <label asp-for=Item.Patronymic></label>
    </div>
    <div class="form-floating mb-3">
        <input type="date" class="form-control has-validation" asp-for="Item.BirthDate" placeholder="Введите дату рождения" value="@Model?.Item.BirthDate.ToString("yyyy-MM-dd")">
        <label asp-for=Item.BirthDate></label>
    </div>
    <button class="btn btn-outline-success" type="submit">Сохранить</button>
</form>
<div id="panelPage">
    @await Html.PartialAsync("ListAutorsPartial")
</div>
@section Scripts{
    <script type="text/javascript">
        ChangePage('@Url.Action("ListAutorsPartial")');
    </script>
}