@model InsertBookViewModel
<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Введите ФИО" aria-label="Введите ФИО" aria-describedby="btnFormAjax" id="searchAutor">
  <button class="btn btn-outline-primary" type="button" id="btnFormAjax">Поиск</button>
</div>
<div class="row pr-3 pl-3" id="panelSearch">
    <form method="post" asp-action="Book" asp-controller="Update" class="needs-validation">
        <input type="text" class="form-control has-validation" asp-for="Item.Id" value="@Model?.Item.Id" hidden>
        @await Html.PartialAsync("_book")
    </form>
</div>

<div id="panelPage" class="mt-3">
    @await Html.PartialAsync("ListBooksPartial")
</div>

@section Scripts{
    <script type="text/javascript">

$('#btnFormAjax').on('click', function () {
 
        let ids = ['searchAutor', 'Item_Title', 'PublishingHouseId', 'Item_PublicationYear', 'Item_Description',
            'Item_Count', 'Item_Price'];
        let arrayIds = ['AutorsIds', 'GenresIds'];
        searchAutor(ids, arrayIds, '@Url.Action("SearchAutor")');
});
    ChangePage('@Url.Action("ListBooksPartial")');
    </script>
}