@model InsertPublishingHouseViewModel

<form method="post" asp-action="PublishingHouse" asp-controller="Insert" class="needs-validation">
    <div asp-validation-summary=All></div>
    <div class="input-group mb-3">
        <input type="text" class="form-control has-validation" asp-for="PublishingHouse.Name" placeholder="Введите название" value="@Model?.PublishingHouse.Name">
        
        <button class="btn btn-outline-success" type="submit">Сохранить</button>
    </div>
    <span asp-validation-for="PublishingHouse.Name"></span>
</form>

<div id="panel">
    @await Html.PartialAsync("ListPublishingHousesPartial")
</div>
@section Scripts{
    <script type="text/javascript">
        ChangePage('@Url.Action("ListPublishingHousesPartial")');
    </script>
}