@model IEnumerable<Autor>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    @foreach(var m in Model)
    {
        <p>@m.LastName @m.FirstName @m.Patronymic</p>
    }
</div>

<div class="mb-3">
    <a asp-action="PublishingHouse" asp-controller="Insert" class="btn btn-outline-secondary">Добавить издательство</a>
    <a asp-action="PublishingHouse" asp-controller="List" class="btn btn-outline-secondary">Список издательств</a>
</div>
<div class="mb-3">
    <a asp-action="Autor" asp-controller="Insert" class="btn btn-outline-secondary">Добавить нового автора</a>
    <a asp-action="Autor" asp-controller="List" class="btn btn-outline-secondary">Список авторов</a>
</div>
<div class="mb-3">
    <a asp-action="Book" asp-controller="Insert" class="btn btn-outline-secondary">Добавить новую книгу</a>
</div>
<div class="mb-3">
    <a asp-action="Genre" asp-controller="Insert" class="btn btn-outline-secondary">Добавить новый жанр</a>
    <a asp-action="Genre" asp-controller="List" class="btn btn-outline-secondary">Список жанров</a>
</div>